node_modules
dist
.vite
client/node_modules
client/dist
server/node_modules
server/.env
.env
server/.env
client/.env
.env*
.vercel
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.agent